{# Main template #}
{% load i18n %}
{% load static %}

<!doctype html>
<html>
<head>
    <title>{% trans 'Codeon test' %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    {% block basescript %} {% endblock %}
    {% block basestyle %} {% endblock %}

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
