{# Navigation #}
{% extends 'main.html' %}
{% load i18n %}
{% load code_on %}

{% block basescript %}
    {% block pagescript%}
    {% endblock %}
{% endblock %}

{% block basestyle %}
    {% block pagestyle%}
    {% endblock %}
{% endblock %}

{% block main_content%}

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <nav class="navbar navbar-inverse nanbar-static-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-for-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="{% url 'home' %}">{% trans 'Codeon' %}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-for-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'student:group_list' %}">{%  trans "Students" %}</a></li>
                            <li><a href="{% edit_url user %}">{{ user.username }}</a></li>
                            <li><a href="{% url 'logout' %}">{%  trans "Log out" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'registration' %}">{% trans 'Registration' %}</a></li>
                            <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
             </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
